
    <header class="header">
        <div class="header-container container">
            <nav class="header-nav">
                <a class="header-link link list" href="../home/home.html"><svg class="" width="109" height="28">
                        <use href="./header_images/symbol-defs.svg#icon-logo-2"></use>
                    </svg>
                </a>
                <ul class="list header-list">
                    <li class="header-item"><a class="header-item-link current link" href="../home/home.html">HOME</a></li>
                    <li class="header-item"><a class="header-item-link  link" href="../shopping-list/shopping-list.html">SHOPPING LIST</a>
                    </li>
                </ul>
            </nav>

            <div class="block">
                <input type="checkbox">
                <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="hamburger" width="28" height="28">
                        <use href="./header_images/symbol-defs.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </header>