<section>
  <h1 class="shopping-list-title">Shopping <span>List</span></h1>
  <div class="empty-list-js" hidden>
    <p>This page is empty, add some books and proceed to order.</p>
    <img src="./partials/shopping-list/images/books.png" alt="books" />
  </div>
  <div class="card-book">
    <button class="btn-delete" type="button">
      <svg class="delete" width="12" height="12">
        <use href="./images/icon.svg#icon-trash"></use>
      </svg>
    </button>
    <img
      class="poster"
      src="./partials/shopping-list/images/poster.jpg"
      alt="poster"
    />
    <div>
      <h2 class="book-title">I will find you</h2>
      <p class="book-undertitle">Hardcover fiction</p>
      <p class="book-text">
        David Burroughs was once a devoted father to his three-year-old son
        Matthew, living a dream life just a short drive away from the
        working-class suburb where he and his wife, Cheryl, first fell in
        love--until one fateful night when David woke suddenly to discover
        Matthew had been murdered while David was asleep just down the hall.
      </p>
      <div class="card-undertext">
        <p class="author">Harlan Coben</p>
        <ul class="book-resources">
          <li>
            <img
              src="./partials/shopping-list/images/amazon.jpg"
              alt="amazon"
              width="32"
              height="11"
            />
          </li>
          <li>
            <img
              src="./partials/shopping-list/images/applebook.jpg"
              alt="applebook"
              width="16"
              height="16"
            />
          </li>
          <li>
            <img
              src="./partials/shopping-list/images/book.jpg"
              alt="book"
              width="16"
              height="16"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
