<section class="shopping-list-section">
  <include
            src="./partials/support-ukraine/support-ukraine.html"
          ></include>
  <div>
  
    <h1 class="shopping-list-title categories-title">
      Shopping <span class="span-title">List</span>
    </h1>
  
    <div class="shopping-list-js">
      <div class="empty-list-js">
        <p class="shopping-list-text">
          This page is empty, add some books and proceed to order.
        </p>
        <img
          class="img-spl"
          src="./partials/shopping-list/images/books.png"
          alt="books"
        />
      </div>
    </div>
</div>
</section>
