<div class="support-ukraine-container">
    <div class="support-ukraine-div">
        <span class="ukraine-title">Support Ukraine</span>
        <svg class="ukraine-svg">
            <use href="./images/icon.svg#ukraine" width="20" height="32"></use>
          </svg>
    </div>


    <div class="arrow-down">
        <button class="btn-arrow-down">
            <svg class="btn-arrow-svg-down">
                <use class="use-btn-arrow-down" href="./images/icon.svg#icon-btn-arrow-down"></use>
              </svg>
        </button>
    </div>


    <div class="arrow-down">
        <button class="btn-arrow-up">
            <svg class="btn-arrow-svg-up">
                <use class="use-btn-arrow-up" href="./images/icon.svg#icon-btn-arrow-down"></use>
              </svg>
        </button>
    </div>

</div>