/* ----------Скрол сторінки -------- */

.btn-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(79, 46, 232, 0.30);
  }
  
  .btn-up-icon-thumb{
    background-color: var(--main-accent-color);
    outline: none;
    padding: 15px;
    border-radius: 50%;
    
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: opacity 0.3s ease-in-out; 
    opacity: 1;
  }

  .btn-up-icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
  }
  
  .btn-up_hide {
    display: none;
  }
  
  .btn-up_hiding {
    opacity: 0;
  }