@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --main-accent-color: #4f2ee8;
  --gray-text-color: rgba(17, 17, 17, 60%);
  --light-scrollbar-color: #e0e0e0;
  --main-text-color: #111111;
  --yellow-accent-color: #eac645;
  --light-bg-color: #f6f6f6;
  --dark-bg-color: #202024;
  --gray-color: #b4afaf;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-darck-theme-color: rgba(255, 255, 255, 60%);
  --standart-font-family: 'DM Sans', sans-serif;
  --gradient: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    var(--main-accent-color) 18.03%,
    var(--white-color) 100%
  );
}

body{
  padding-top: 104px;
  font-family: var(--standart-font-family);
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 112px;
  }
}



p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
}

.side-spot {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .side-spot {
    flex-direction: row;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .side-spot {
    flex-direction: column;
    gap: 86px;
    justify-content: start;
  }
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 24px;
    padding-left: 24px;
  }
}


.is-hidden{
  display: none;
}