.header {
    position: fixed;
    top: 0; 
    z-index: 100;
    background-color: white;
}

.header-container {
    width: 100%;
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.container {
    display: flex;

    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



.header-list {
    display: none;

}

@media only screen and (min-width: 768px) {
    .header-list {
        display: flex;
    }
}





.menu-toggle {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media only screen and (min-width: 768px) {
    .menu-toggle{
        display: none;
    }
}

.hamburger {
    stroke: #2E2F42;
    align-items: end;
}
.Authorization{
    display: none;
   width: 184px; 
   height: 45px;
}
@media only screen and (min-width: 768px) {
    .Authorization {
        display: block;
    }
}
.range{
    width: 40px;
    height: 24px;
}
.block {
    display: flex;
    align-items: center;
}