.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    left: 0;
    z-index: 100;
    background-color: white;
    
}

.header-container {
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
}
@media only screen and (min-width: 768px) {
.header-container {
        width: 768px;
        padding: 0 32px;
        
    }
}
@media only screen and (min-width: 1440px) {
    .header-container {
        width: 1440px;
        padding: 0 24px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px; 
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-item-link {
    display: flex;
    gap: 8px;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.header-item-link:hover,
.mobile-link:hover,
.mobile-link:focus,
.header-item-link:focus { 
   color: var(--yellow-accent-color);
   fill: currentColor;
        display: flex;
      
        align-items: flex-start;
        gap: 10px;
}


.current.header-item-link,
.current.mobile-link {
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 36px;
        background: #EAC645;
        display: flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 10px;
}

.current.header-item-link:hover,
.current.mobile-link:hover,
.current.mobile-link:focus,
.current.header-item-link:focus{
    color: var(--black-color);
    fill: currentColor;
    stroke: currentColor;
}


.header-list {
    display: none;
    align-items: center;
    gap: 24px;
    padding: 19px 0;
}

@media only screen and (min-width: 768px) {
    .header-list {
        display: flex;
    }
}
.checkbox-ios {
    display: inline-block;
    height: 20px;
    line-height: 22px;
    /* margin-right: 10px; */
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
}

.checkbox-ios .checkbox-ios-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    border-radius: 25%/50%;
    vertical-align: top;
    background: linear-gradient(#4F2EE8, #DCDCDC);
    transition: .2s;
}

.checkbox-ios .checkbox-ios-switch:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .15s;
}

.checkbox-ios input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.checkbox-ios input[type=checkbox]:not(:disabled):active+.checkbox-ios-switch:before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);

}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch {
    background: linear-gradient(#4F2EE8, #686868);
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
    transform: translateX(20px);
}

/* Hover */
.checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
    cursor: pointer;
    /* border-color: rgba(0, 0, 0, .3); */
}

/* Disabled */
.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch {
    filter: grayscale(70%);
    border-color: white;
}

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch:before {
    background: #eee;
}

/* Focus */
.checkbox-ios.focused .checkbox-ios-switch:before {
    box-shadow: inset 0px 0px 4px #ff5623;
}





.menu-toggle,
.menu-toggle-mobil {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;

}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* margin-top: 64px; */
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    z-index: 60;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

/* .menu-toggle-mobil {
    z-index: 100;
    position: absolute;
    top: 24px;
    right: 24px;
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--btn-color);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    stroke: #2E2F42;
    align-items: end;

} */
 .mobile-menu-container{ 
position: fixed;
overflow: hidden;
top: 0;
left:0;
width: 100%;
height: 100%;
/* margin: auto; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1100;
} 

.mobile-menu {

/* position: absolute; */
/* top:247px; */
/* left:129px; */
/* margin: 0 auto; */
/* padding-top: 120px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
gap: 16px;
}

.mobile-link {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;

}

.current {
    color: var(--logo-color);
}

.mobile-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-menu .link {
    display: block;



}
.img-modal{
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../partials/header/header_images/Group6.png);
    position: absolute; 
    bottom: -15%;
    width: 125%;
    left: -5%;
    height: 439px;
    /* transform: rotate(-15deg); */
    flex-shrink: 0;
    

}

.bag{
    fill: currentColor;
        align-items: center;
}
.modal-icon{
    stroke: #2E2F42;
    align-items: end;
    width: 24px;
    height: 24px;   
    }


.hamburger {
    stroke: #2E2F42;
    align-items: end;
}
.hidden{
display: none;
}
.hamburger.hidden {
   display: none;
}
.Authorization{
    color: white;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    display: none;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #4F2EE8;
    align-items: center;
    width: 184px; 
    height: 45px; 
    padding-bottom: 13px;
   cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .Authorization {
        display: block;
        
    }
}
.range{
    width: 40px;
    height: 24px;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.log-out{
    display: flex;
    position: absolute;
    z-index: 20;
    bottom: 20px;
    left:20px;
    width: 118px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
.arrow{
stroke:#EAC645;
align-items: center;
}
.aut{
     
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
}
.user-name{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
    top:84px;
    left:20px;

}