/* Общие стили... */

/* Новый блок для категорий */
.category-block {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
}

.category-title {
  font-size: 1.8em;
  color: #333;
  margin: 10px 0;
}

.book-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  width: 200px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.book-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.book-info {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-info h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-info p {
  font-size: 1em;
  color: #777;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-book {
  display: none;
}

.see-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  margin-top: 10px;
}

.see-more-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Для главной страницы медиа правила*/
/* 
@media screen and (max-width: 1023px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
  }
} */
/* Дополнительные стили... */
