/* Общие стили... */

/* Новый блок для категорий */
.container {
  flex-wrap: wrap;
}

/* Новый блок для категорий */
.category-block {
  /* background-color: var(--white-color); Используем переменную для фона */
  /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

.categories-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -1.28px;
  color: var(--main-text-color); /* Используем переменную для цвета текста */
}

@media only screen and (min-width: 768px) {
  .categories-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 108.333% */
    letter-spacing: -1.92px;
  }
}

.category-info {
  padding-top: 40px;
  padding-bottom: 18px;
  color: var(--gray-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .category-info {
    line-height: 24px; /* 171.429% */
  }
}

.book-row {
  /* display: flex;
  gap: 20px;
  flex-direction: column; */
}

.book-card {
  cursor: pointer;
  position: relative;
  max-width: 335px;
  height: auto; /* Изменено на auto, чтобы высота масштабировалась по содержимому */
  overflow: hidden;
  flex-direction: column;
  display: inline-block;
}

/* Добавляем quick view  */
.book-card:hover .book-overlay,
.book-card:focus .book-overlay {
  opacity: 1;
  transform: translateY(0);
}

.book-image {
  aspect-ratio: 5/7;
  width: 100%;
  height: auto;
  object-fit: cover; /* Используем object-fit для масштабирования изображения без обрезания */
  border-radius: 8px;
  position: relative; /*Ставим на img */
}

.book-info {
  padding-top: 14px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bookinfo-title {
  color: var(--main-text-color); /* Используем переменную для цвета текста */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 16px;
  letter-spacing: -0.64px;
  line-height: 18px; /* 112.5% */
  font-weight: 700;
}

.bookinfo-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  color: var(--gray-color); /* Используем переменную для цвета текста */
}

.hidden-book {
  display: none;
}

.see-more-btn {
  display: block;
  margin-left: auto;

  background: var(--white-color);

  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--main-accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.see-more-btn:hover,
.see-more-btn:focus {
  background-color: var(--main-accent-color);
  color: var(--white-color);
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .see-more-btn {
    margin-top: 20px;
  }
}
/* Для главной страницы медиа правила */

/* Для планшета (ширина экрана 768px и выше) */
@media only screen and (min-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .book-row {
    display: flex;
    flex-wrap: wrap; /* Добавьте flex-wrap, чтобы элементы переносились на новую строку при необходимости */
    gap: 25px; /* Расстояние между карточками книг */
    justify-content: space-between; /* Распределение карточек внутри строки */
  }

  .book-card {
    display: flex;
    width: calc(
      33.33% - 25px
    ); /* Три блока в строке с учетом отступов между ними */
    height: auto;
    /* max-width: 218px;
    max-height: 366px; */
    align-items: baseline;
  }

  .book-image {
    /* width: 218px;
    height: 316px; */
    /* height: 100%; */
    /* object-fit: cover; */
  }

  .see-more-btn {
    /* margin-left: 400px; */
  }
}

/* Ласт Чайлд */
/* Телефон */
@media only screen and (min-width: 320px) {
  .book-card:nth-last-child(-n + 4) {
    /* color: tomato; */
    display: none;
  }
}
/* Планшет */
@media only screen and (min-width: 768px) {
  .book-card:nth-last-child(-n + 2) {
    /* color: tomato; */
    display: flex;
  }
}
/* Пк */
@media only screen and (min-width: 1440px) {
  .book-card:nth-last-child(-n + 6) {
    display: flex;
  }
  .book-card {
    align-items: baseline;
    width: calc(20% - 24px); /* Пять карточек в строке с отступами между ними */
  }

  .see-more-btn {
    margin-top: 32px;
  }
}

/* Оверлей на карточках */

.book-overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 0;
  color: var(--main-text-color);
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background: var(--yellow-accent-color);
  border-radius: 0 0 8px 8px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-item {
  position: relative;
}
