/* 
h1 {
  margin: 40px;
} */

.shopping-list-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.shopping-list-box{
  width: 100%;
}

@media only screen and (max-width: 1439px) {
  .shopping-list-section > .support-ukraine-container {
    display: none;
  }
}

.empty-list-js{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .empty-list-js {
    padding-top: 100px;
  }
}

/* Mobile card */
.card-book {
  position: relative;
  display: flex;
  width: 335px;
  /* flex-wrap: wrap; */
  gap: 14px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .card-book {
    width: 100%;
    padding: 24px;
  }
}

.book-inform {
  width: 190px;
}

@media only screen and (min-width: 768px) {
  .book-inform {
    width: 100%;
  }
}

.btn-delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 12px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
  cursor: pointer;
  border: none;
}

@media only screen and (min-width: 768px) {
  .btn-delete {
    width: 34px;
    height: 34px;
    right: 17px;
    top: 17px;
  }
}
.delete {
  stroke: var(--white-color);
  fill: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 768px) {
  .delete {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

.poster {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .poster {
    width: 116px;
    height: 165px;
  }
}

.book-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 4px;
  width: 144px;
  height: 18px;
  overflow: hidden;
}

.book-undertitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 8px;
  width: 144px;
  height: 14px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .book-undertitle {
    margin-bottom: 14px;
  }
}

.book-text {
  width: 193px;
  height: 68px;
  overflow-y: scroll;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 14px;
}
.book-text::-webkit-scrollbar {
  width: 8px;
}

.book-text::-webkit-scrollbar-thumb {
  background-color: var(--light-scrollbar-color);
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  .book-text {
    height: 53px;
    width: auto;
  }
}

.card-undertext {
  display: flex;
  flex-wrap: wrap;
  height: 16px;
  justify-content: space-between;
}

.author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-align: left;
  width: 97px;
  height: 14px;
  overflow: hidden;
}

.book-resources {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.shopping-list-title {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}
.span-title {
  color: var(--main-accent-color);
}
.shopping-list-text {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  max-width: 244px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.img-spl {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .img-spl {
    width: 322px;
  }
}

.shop-list {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .shop-list {
    gap: 16px;
  }
}

.shopping-list-logo > img {
  display: block;
  filter: grayscale();
  font-size: 16px;
  height: 16px;
  width: auto;
}

.amazon-logo > img {
  height: 11px;
}

.shopping-list-logo:hover,
.shopping-list-logo:focus{
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .shopping-list-logo > img {
    height: 32px;
  }
  .amazon-logo > img {
    height: 15px;
  }
}
