p,
h1,
h2,
li,
ul {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
}
h1 {
  margin: 40px;
}

/* Mobile card */
.card-book {
    position: relative;
  display: flex;
  width: 335px;
  height: 170px;
  flex-wrap: wrap;
  gap: 14px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 12px;
}
.btn-delete {
    position: absolute;
    right: 12px;
  border-radius: 14px;
  width: 28px;
  height: 28px;
  background-color: rgba(79, 46, 232, 1);
  border-color: rgba(79, 46, 232, 1);
  cursor: pointer;
  border: none;
}

.poster {
  width: 100px;
  height: 142px;
}
.book-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 4px;
}

.book-undertitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 8px;
}

.book-text {
  width: 193px;
  height: 68px;
  overflow-y: scroll;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 14px;
}

.card-undertext {
  display: flex;
  flex-wrap: wrap;
  height: 16px;
  justify-content: space-between;
}

.author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-align: left;
}

.book-resources {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
