/* DARK THEME FOR HOME*/

.dark {
    background-color: var(--dark-bg-color);
    color: var(--white-color);
}

/* Style by Header */
.dark header {
    background-color: var(--black-color);
    border: 1.5px solid var(--white-color);
}

.dark .logo-text {
    filter: invert();
}

.dark .header-item-link {
    color: var(--white-color);
    fill: var(--white-color);
}

.dark .header-item-link.current{
    color: var(--dark-bg-color);
    fill: var(--dark-bg-color);
}

.dark .header-item-link:hover,
.dark .header-item-link:focus {
    color: var(--yellow-accent-color);
    fill: var(--yellow-accent-color);
}

.dark .header-item-link:hover.current,
.dark .header-item-link:focus.current{
    color: var(--dark-bg-color);
    fill: var(--dark-bg-color);
}

/* .dark .header-item-link:hover,
.dark .header-item-link:focus {
    color: var(--dark-bg-color);
    fill: var(--dark-bg-color);

} */

.dark .hamburger {
    stroke: var(--white-color);
}

.dark .hamburger:hover,
.dark .hamburger:focus {
    stroke: var(--main-accent-color);
}

/* style by category */

.dark .category {
    color: var(--gray-darck-theme-color);
}

.dark .category:hover,
.dark .category.selected {
    color: var(--yellow-accent-color);
}

.dark .category-list::-webkit-scrollbar-thumb {
    background-color: var(--gray-text-color);
}

/* style by book blok  */
.dark .categories-title {
    color: var(--white-color);
}

.dark .category-block {
    background-color: var(--dark-bg-color);
}

.dark .book-card {
    background-color: var(--dark-bg-color);
}

.dark .bookinfo-title {
    color: var(--white-color);
}

.dark .bookinfo-author,
.modal-rmv-message  {
    color: var(--gray-color);
}

.dark .see-more-btn {
    border: 2px solid var(--main-accent-color);
    color: var(--white-color);
    background: transparent;
}

.dark .see-more-btn:hover,
.dark .see-more-btn:focus {
    background: var(--main-accent-color);
}

/* style bu modal window */

.dark .modal {
    border: 2px solid var(--white-color);
    background: var(--dark-bg-color);
}

.dark .modal-close-icon {
    stroke: var(--white-color);
}

.dark .modal-close-icon:hover {
    stroke: var(--main-accent-color);
}

.modal-close-icon,
.delete {
    transition: transform 0.5s;
}

.modal-close-icon:hover,
.delete:hover {
    transform: scale(1.25);
}
.dark .modal-book-title {
    color: var(--white-color);
}

.dark .modal-book-descr {
    color: var(--white-color);
}

.dark .shoplist-img:hover{
    filter: drop-shadow(0 3px 3px #e7e5e541);
}

.dark .amazon-img {
    filter: invert() grayscale()
}

.dark .amazon-img:hover {
    filter: invert() grayscale() drop-shadow(0 3px 3px #e7e5e541)
}



/* style bu shopping list */
.dark .shopping-list-text {
    color: var(--gray-darck-theme-color);
}

.dark .card-book {
    background-color: var(--black-color);
}

.dark .book-undertitle,
.dark .author {
    color: var(--gray-color);
}

.dark .shopping-list-logo>img:hover {
    filter: drop-shadow(0 3px 3px #e7e5e581);
}

.dark .amazon-logo>img {
    filter: invert() grayscale();
}

.dark .amazon-logo>img:hover {
    filter: invert() grayscale() drop-shadow(0 3px 3px #e7e5e541);
}

/*stule by autorization window  */


.dark input {
    border: 2px solid var(--light-bg-color);
    color: var(--light-bg-color);
    background: transparent;
}

