
/* DARK THEME FOR HOME*/

.dark {
    background-color: var(--dark-bg-color);
    color: var(--white-color);
}

.dark header {
    background-color: var(--black-color);
    border: 1.5px solid var(--white-color);
}



.dark .header-item-link {
    color: var(--white-color);
}

.dark .header-item-link.current {
    color: var(--black-color);
}


.dark .header-item-link:hover,
.dark .header-item-link:focus {
    color: var(--main-accent-color);
}

.dark .hamburger {
    stroke: var(--white-color);
}

.dark .hamburger:hover,
.dark .hamburger:focus {
    stroke: var(--main-accent-color);
}

.dark .category {
    color: var(--gray-text-color-dark);
}

.dark .category:hover {
    color: var(--yellow-accent-color);
}

.dark .category.selected {
    color: var(--yellow-accent-color);
}

.dark .category-list::-webkit-scrollbar-thumb {
    background-color: var(--gray-text-color);
}

.dark .categories-title {
    color: var(--white-color);
}

.dark .category-block {
    background-color: var(--dark-bg-color);
}

.dark .book-card {
    background-color: var(--dark-bg-color);
}

.dark .book-info h3 {
    color: var(--white-color) ;
}

.dark .book-info p {
    color: var(--gray-color);
}


.dark input {
    border: 2px solid var(--light-bg-color);
    color: var(--light-bg-color);
    background: transparent;
}

.dark .see-more-btn {
    border: 2px solid var(--main-accent-color);
    color: var(--white-color);
    background: transparent;
}

.dark .see-more-btn:hover,
.dark .see-more-btn:focus {
    border: 2px solid var(--main-accent-color);
    color: var(--white-color);
    background: var(--main-accent-color);
}

